body {
    background: #F7F8FC;
}

.card-body a {
    position: relative;
    float: right;
    font-size: 14px;
    top: 8px;
}

header img {
    object-fit: cover;
}

.card:hover {
    color: blue;
    border-color: blue;
}